.git
.output
.tanstack
.vinxi
.nitro
dist
dist-ssr
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.local
.env
.env.*
!.env.example
.tmp*
test-results
playwright-report
.vscode
